- var sorted_categories = categories.sort();
section.row-fluid.clearfix
  p.center
    <a href="#{form_url}" class="btn btn-lg btn-success" target="_blank" title="Just click and follow these rules to submit an ebook."><i class="icon-plus"></i>&nbsp;Submit book</a>&nbsp;&nbsp;
    <a href="#{root_url[environment]}about" class="btn btn-lg btn-info"><i class="icon-thumbs-up" title="Support our project doing a humble donation for us!"></i>&nbsp;Donate</a>
!= partial("filters")
section.row-fluid.clearfix
  .row-fluid
    each category in sorted_categories
      - var category_data = public[category]._data.index
      - var tags = category_data.tags.join(',')
      .col-xs-12.col-sm-4.col-md-3(data-tags="#{tags}")
        .thumbnail
          div.caption
            h2.center
              <i class="icon-code"></i>&nbsp;#{category_data.subtitle}
          a(href="#{category_data.site}" title="#{category_data.about}")
            img.img-responsive.img-rounded.book-cover(src="#{root_url[environment]}assets/images/#{category_data.image}")
